{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('heatmap-css') }}
    {{ encore_entry_link_tags('bootstrap') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('popper') }}
    {{ encore_entry_script_tags('d3') }}
    {{ encore_entry_script_tags('calHeatmap') }}
{% endblock %}

{% block title %}{{ currentDate }} | {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>
            <span>{{ currentDate }}</span>
            <span class="small text-secondary">{{ user.firstname }} {{ user.lastname }}</span>
        </h1>
        <div class="card">
            <div class="card-body">
                <div class="heatmap overflow-hidden" class="hidden" data-apprenticeship="{{ apprenticeship.id }}" data-start="{{ apprenticeship.start }}" data-end="{{ apprenticeship.end }}" data-entries="{{ calendar|json_encode }}"></div>
            </div>
        </div>
        {% for entry in entries %}
            <div class="card top-100 mt-3">
                <div class="card-header text-end">
                    {% if entry.status == 0 %}
                        <span class="badge text-bg-primary">Erwartet Freigabe</span>
                    {% elseif entry.status == 1 %}
                        <span class="badge text-bg-success">Abgesegnet</span>
                    {% else %}
                        <span class="badge text-bg-danger">Abgelehnt</span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ entry.text }}</p>
                </div>
                <div class="card-footer">
                    {% if entry.status == 1 %}
                        <span class="fs-6 text-secondary">Dieser Eintrag wurde abgesegnet</span>
                    {% elseif entry.status == 2 %}
                        <span class="fs-6 text-secondary">Warten auf Anpassung von Azubi</span>
                    {% else %}
                        <a href="{{ path('app_dashboard_dashboardviewday_deny', { apprenticeshipId: apprenticeship.id, date: date, entryId: entry.id}) }}" class="btn btn-danger">Ablehnen</a>
                        <a href="{{ path('app_dashboard_dashboardviewday_accept', { apprenticeshipId: apprenticeship.id, date: date, entryId: entry.id}) }}" class="btn btn-primary">Absegnen</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if entries|length == 0 %}
            <div class="text-secondary text-center mt-3">Kein Eintrag für diesen Tag vorhanden</div>
        {% endif %}
    </div>
    <script>
      window.onload = () => {
        window.genCalHeatmap2()
      }
    </script>
{% endblock %}