{% extends 'base.html.twig' %}
{% block title %}Azubi Bericht!{% endblock %}

{% block body %}

    <div class="cal-heatmap-container">

    </div>

    <div class="example-wrapper">
        <a href="{{ path('add_entry', {id: apprenticeshipId, date: date}) }}" class="btn btn-primary">Neuer Eintrag anlegen</a>

        {% for entry in entries %}
            <table class="table">
                <thead>
                <tr>
                    <th>Aktionen</th>
                    <th>ID</th>
                    <th>Date</th>
                    <th>text</th>
                    <th>time</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="{{ path('edit_entry', {id: entry.apprenticeshipId.id, date: entry.date, entryid: entry.id }) }}" class="btn btn-primary">Eintrag Bearbeiten</a>
                            <a href="{{ path('delete_entry', {id: entry.apprenticeshipId.id, date: entry.date, entryId: entry.id}) }}" class="btn btn-primary">Löschen</a>
                        </td>
                        <td>
                            <span>{{ entry.id }}</span>
                        </td>
                        <td>
                            <span>{{ entry.date }}</span>
                        </td>
                        <td>
                            <span>{{ entry.text }}</span>
                        </td>
                        <td>
                            <span>{{ entry.time }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}