{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bootstrap') }}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Benutzerliste</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Aktionen</th>
                <th>ID</th>
                <th>Nutzername</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Ausbilder</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('administration_editUser', {userId: user.id}) }}">Bearbeiten</a>
                        <a href="{{ path('administration_deleteUser', {userId: user.id}) }}">Löschen</a>
                    </td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>
                        {% if 'ROLE_AUSBILDER' in user.roles %}
                            Ja
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}